NO 1
(CONTOH 1)

In [1]:
suhu = int(input("Masukkan suhu tubuh: "))

try:
    if suhu >= 38:
      print("Anda demam")
    else:
      print("Anda tidak demam")
except:
      print("anda salah memasukkan input suhu tubuh")

Masukkan suhu tubuh: 34
Anda tidak demam

NO 1 (CONTOH 2)

In [2]:
try:
    bilangan = float(input("Masukkan suatu bilangan: "))

    if int(bilangan > 0):
        print("Positif")
    elif float(bilangan) < 0:
        print("Negatif")
    elif int(bilangan == 0):
        print("Nol")
except:
    print (("input yang anda masukkan salah"))

Masukkan suatu bilangan: -9
Negatif

NO 1 (CONTOH 3)

In [4]:
try:
    a = int(input("Masukkan bilangan pertama: "))
    b = int(input("Masukkan bilangan kedua: "))
    c = int(input("Masukkan bilangan ketiga: "))

# secara berurutan tulis kriteria untuk a, b, dan cif a > b and a > c:
    if  a > b and a > c:
        print("Terbesar: ", a)
    elif b > a and b > c:
        print("Terbesar: ", b)
    elif c > a and c > b:
        print("Terbesar: ", c)
except:
        print("input yang anda masukkan salah")

Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 6
Masukkan bilangan ketiga: 9
Terbesar:  9

NO 2

In [5]:
a = int(input("masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))
c = int(input("Masukkan bilangan ketiga: "))
print('Terbesar:', a)  if  (a > b and a > c) else print ("Terbesar: " ,b)  if (b > a and b > c) else print ('Terbesar: ' , c)

masukkan bilangan pertama: 5
Masukkan bilangan kedua: 7
Masukkan bilangan ketiga: 9
Terbesar:  9

NO 3

In [6]:
try:
    bulan = int(input ("masukkan bulan(1-12):"))
    if bulan == 1:
        print("jumlah hari : 31")
    elif bulan == 2:
        print("jumlah hari : 29")
    elif bulan == 3:
        print("jumlah hari : 31")
    elif bulan == 4:
        print("jumlah hari : 30")
    elif bulan == 5:
        print("jumlah hari : 31")
    elif bulan == 6:
        print("jumlah hari : 30")
    elif bulan == 7:
        print("jumlah hari : 31")
    elif bulan == 8:
        print("jumlah hari : 31")
    elif bulan == 9:
        print("jumlah hari : 30")
    elif bulan == 10:
        print("jumlah hari : 31")
    elif bulan == 11:
        print("jumlah hari : 30")
    elif bulan == 12:
        print("jumlah hari : 31")
    else: 0
except:
    print("input yang anda masukkan salah")

masukkan bulan(1-12):K
input yang anda masukkan salah

NO 4

In [7]:
try:
    a = int (input ("masukan  sisi 1:"))
    b = int (input ("masukkan sisi 2:"))
    c = int (input ("masukkan sisi 3:"))

    if a == b and a == c:
        print("3 sisi  sama ")
    elif a == b or a == c:
        print("2 sisi  sama ")
    elif b == a and b == c:
        print("3 sisi sama ")
    elif b == a or b == c:
        print("2 sisi sama ")
    else:
        print("tidak ada yang sama")
except:
    print("input yang anda masukkan salah")

masukan  sisi 1:4
masukkan sisi 2:5
masukkan sisi 3:4
2 sisi  sama